
body {
    margin: 36px;
    box-sizing: border-box;
    margin-bottom: 120px;}

#profil {color: #CF3027;}
 
.switchcontainer { display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-btn {
    display: flex;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .switch-red {
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: #CF3027;
    width: 50%;
    height: 42px;
    font-family: ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  }
  
  .switch-pink {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #F9EEF0;
    width: 50%;
    height: 42px;
    font-family: ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #CF3027;
    cursor: pointer;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  }

.pointside {
    display: flex;
    justify-content: center;
    }

.pointtekst { 
    display:flex;
    justify-content: center;}


.beløb {display: flex; 
    flex-direction: row-reverse;
    justify-content: space-between;
}

.articlecontainer {
    min-width:320px;
    display: flex;}

.articlecontainer img {
    align-items: center;
    margin-bottom: 0;
    height: 220px;
    max-width:320px;}

.articlecontainer i { color: #CF3027;}

@media only screen and (min-width: 700px) {
    .article-flex {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-height: 398px;
     
    }
    .switch-btn {
        width: 489px;}

}



