* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

.tillykke-container{
    display: flex;
    justify-content: center;
}

.åben {
    background-color: rgb(255, 255, 255);
    margin: 36px;
    height: 50%;
    width: 50%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    display: flex;
    justify-content: content;
    align-items: center;
    display: none;
    border-radius: 5px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
}

