* {box-sizing: border-box;}


header a {
  color: #CF3027;
}

.container {
  height: 20vh;
  display: flex;
  align-items: center;
}

header img {
  max-width: 200px;
  height: auto;
  margin: auto;
}


.accordion {
    border-radius: 10px;
    margin: 0 36px 15px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  }
  
  .accordion-header {
    background-color: #F9EEF0;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    
  }
  
  .accordion-content{
    display: none;
    padding: 10px;
  }


  .accordion.active .accordion-content{ display:block; }

  i {
    align-self: center;
    margin-right: 30px;
    margin-left: 30px;
  }

