/* styles til body */

body {
  margin: 36px;
  box-sizing: border-box;
  margin-bottom: 120px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
}

header p {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
}

#search {color: #CF3027;}

/* Her er styles til accordion */

.accordion {
  max-width: 428px;
}

.accordion-item {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.accordion-header {
    background-color: #F9EEF0;
    border-radius: 10px;
    border: 1px solid #29223B;
    cursor: pointer;
    padding: 10px;
    font-family: ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.65);
  }

  .accordion-header i {
    float: right;
    color: #29223B;
  }
  
  .accordion-content {
    display: none;
    padding-bottom: 10px;
    border-radius: 10px;
  }
  
  .accordion-content.active {
    display: block;
  }

  .filter-section {
    padding: 10px;
  }

  .rotate {
    transform: rotate(180deg);
  }

  .divider {
    border-top: 1.8px solid rgba(0, 0, 0, 0.2);
    margin: 8px 0 0 0;
  }


/* styles til filtrering */

input[type="checkbox"] {
  accent-color: #19998B;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

label {
  font-family: ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.accordion-content h3 {
  margin: 14px 0 8px 0;
}

.search-btn {
  display: flex;
  justify-content: center;
  margin: 14px;
}


/* styling til "switch"-knappen */

.switch-btn {
  display: flex;
  margin-bottom: 20px;
  max-width: 428px;
}

.switch-red {
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #CF3027;
  width: 50%;
  height: 42px;
  font-family: ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.switch-pink {
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #F9EEF0;
  width: 50%;
  height: 42px;
  font-family: ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #CF3027;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.switch-red2 {
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #CF3027;
  width: 50%;
  height: 42px;
  font-family: ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.switch-pink2 {
  border: none;
  border-radius: 10px 0 0 10px;
  background-color: #F9EEF0;
  width: 50%;
  height: 42px;
  font-family: ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #CF3027;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}


@media only screen and (min-width: 700px) {
  .article-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 398px;
  }

  main {
    display: flex;
  }

  .btn-filter-container {
    margin-right: 36px;
    min-width: 330px;
  }
}