main * {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

main {
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 20px;
    margin-bottom: 120px;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
}

header{
    margin: 0;
    padding: 0;
}
 
.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar-container {
    background: #fff;
    width: 100%;
    min-width: 350px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
}
 
.calendar-container header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
 
header .calendar-navigation {
    display: flex;
}
 
header .calendar-navigation span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.4rem;
}
 
.calendar-navigation span:last-child {
    margin-right: -10px;
}
 
header .calendar-navigation span:hover {
    background: #f2f2f2;
}
 
header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
}
 
.calendar-body {
    padding: 20px;
}
 
.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}
 
.calendar-body .calendar-dates {
    margin-bottom: 20px;
}
 
.calendar-body li {
    width: calc(100% / 7);
    color: black;
    font-family: ‘Arial’, sans-serif;
}
 
.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}
 
.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
 
.calendar-dates li.inactive {
    color: #aaa;
}
 
.calendar-dates li.active {
    color: #fff;
}
 
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
 
.calendar-dates li.active::before {
    background: #19998B;
}
 
.calendar-dates li:not(.active):hover::before {
    background: #e4e1e1;
}

h2 {
    margin-bottom:10px;
    display: flex;
    align-self: flex-start;
}

.containertekst * {
    padding: 5px;
}

.link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    max-width: 430px;
}




#kalender-icon{
    color: #CF3027;
}


@media only screen and (min-width: 700px) {

    main {
      display: grid;
      grid-template-areas:
      'h h'
      'c a';
      column-gap: 20px;
    }

    .header-container{
        grid-area: h;
    }

    .big-calendar-container{
        grid-area: c;
        position: relative;
        height: 100%;
        display: flex;
    }

    .calendar-container{
        align-self: flex-start;
    }

    .aktivitet-container{
        grid-area: a;
        height: 100%;
        width: 100%;
    }
  }
