
body {
    margin: 36px;
    box-sizing: border-box;
    margin-bottom: 120px;}

.pointside {
    display: flex;
    justify-content: center;
    }

.pointtekst { 
    display:flex;
    justify-content: center;}


.beløb {display: flex; 
    flex-direction: row-reverse;
    justify-content: space-between;
}

.articlecontainer {
    min-width:350px;
    display: flex;}

.articlecontainer img {
    margin-bottom: 0;
    height: 220px;
    max-width: 400px;}

.articlecontainer i { color: #CF3027;}

@media only screen and (min-width: 700px) {
    .article-flex {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-height: 398px;
    }

}

body {
    margin-bottom: 500px;
}


