body{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
}

form {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


Label{
    font-family: ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

.inputfelt {
    border-color: #C6C6C6;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    font-family: ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.65);
    height: 30px;
    margin-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.btnflex {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


#message{
    color: #CF3027;
}

.preview-container {
    position: relative;
    display: grid;
}

.preview-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    grid-area: 1/1;
}


.preview-container label{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1px;
    bottom: 1px;
    cursor: pointer;
    z-index: 1;
    background-color: white;
    color: #C6C6C6;
    border: white solid 8px;
    border-radius: 50%;
}


.preview-container input {
    display: none;
}