h1 {
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 700;
    color: #CF3027;
    font-size: 1.8rem;
}

h2 {
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}

h3 {
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

p {
    font-family: ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.p-detail {
    font-family: ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.65);} 

.p-underline {
    font-family: ‘Arial’, sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: #19998B;
    text-decoration: underline;
}

.p-menu {font-family: ‘Arial’, sans-serif;
    font-weight: 300;
    font-size: 0.5rem;
    color: #29223b;
    }
/*Knapper*/ 
.red-btn {
    background-color: #CF3027;
    width: 318px;
    height: 52px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
}

.pink-btn {
    background-color: #F9EEF0;
    width: 318px;
    height: 52px;
    border: 3px solid #CF3027;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #CF3027;
}

.green-btn {
    background-color: #19998B;
    width: 142px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 500;
    font-size: 1.667rem;
    color: #ffffff;
}

.lightgreen-btn {
    background-color: #D8FAF7;
    width: 142px;
    height: 40px;
    border: 3px solid #19998B;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 500;
    font-size: 1.667rem;
    color: #19998B;
}

.red-btn:hover {
    background-color: #F9EEF0;
    border: 3px solid #CF3027;
    color: #CF3027;
}

.pink-btn:hover {
    background-color: #CF3027;
    border: none;
    color: #ffffff;
}

.green-btn:hover {
    background-color: #D8FAF7;
    border: 3px solid #19998B;
    color: #19998B;
}

.lightgreen-btn:hover {
    background-color: #19998B;
    border: none;
    color: #ffffff;
}

/*menu*/
.menu {
    width: 100%;
    position: fixed;
    bottom:0;
    display: flex; 
    justify-content: space-around;
    padding: 20px 10px 10px 0px;
    margin: 0px -36px;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu i { 
    color: #3b2226;}
.menu p {
    padding-top: 10px;}

a {text-decoration: none; color: #3C3253;}

/*body*/
body {
    margin: 36px;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header p {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  header img {margin: 36px;
}

header a {
    color:#CF3027; 
    display: flex; 
    flex-direction: row;
    align-items: center;}

header a i {
    margin-right: 10px;}

  
  .point-btn {
    margin: 20px;
    padding: 0 36px;
    background-color:#ffffff;
    height: 52px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #CF3027
}
/* startside */
.homepage {
    background-color: #CF3027; 
    margin: -36px;
    padding-bottom: 120px;
    
}
.homepagewhite { 
    border-radius: 10px; 
    background-color: white;
    padding: 36px;
}

/* Bokse med billede og tekst */
.articlecontainer {
    box-sizing: border-box;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 428px;
   
}


.articlecontainer img {width: 100%;
    border-radius: 20px 20px 0 0;
    margin-bottom: -100px;

}

.containertekst { 
    background-color:#F9EEF0;
    padding: 25px 20px;
    display: flex; 
    flex-direction: column;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.containertekst i {display: flex; 
    justify-content: flex-end;
    margin-left: 36px;}

.containertekst h3 {
    margin-top: -10px; 
     }

.tidogdato {
    display: flex; 
    align-items: center;
}

.tidogdato i {
    color:rgba(0, 0, 0, 0.65); 
    margin: 0 36px;
}
/* point boks startside*/
.pointcontainer { background-color:#F9EEF0;
    padding: 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.topointshop a { 
   display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topointshop i {margin-left: 20px; color: #29223b;}


/* Venner billeder */
.karruselcontainer {max-width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.karruselcontainer .karrusel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}

.karrusel img {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: calc(100%/1.5);
    height: 200px;
    margin: 10px;
    object-fit: cover;
}


/* bunden af siden */ 
.homepagebund { display: flex; 
    flex-direction: column;
    align-items: center;
}

.homepagebund h3 { color: white;}