h1 {
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 700;
    color: #CF3027;
    font-size: 1.8rem;
}

h2 {
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}

h3 {
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

p {
    font-family: ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 1.5 rem;
}

.p-detail {
    font-family: ‘Arial’, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.65);
}

.p-underline {
    font-family: ‘Arial’, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #19998B;
    text-decoration: underline;
}

/*Knapper*/ 
.red-btn {
    background-color: #CF3027;
    width: 318px;
    height: 52px;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff;
}

.pink-btn {
    background-color: #F9EEF0;
    width: 318px;
    height: 52px;
    border: 3px solid #CF3027;
    border-radius: 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #CF3027;
}

.green-btn {
    background-color: #19998B;
    width: 142px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 500;
    font-size: 1.667rem;
    color: #ffffff;
}

.lightgreen-btn {
    background-color: #D8FAF7;
    width: 142px;
    height: 40px;
    border: 3px solid #19998B;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-family: ‘Avenir LT Pro’, sans-serif;
    font-weight: 500;
    font-size: 1.667rem;
    color: #19998B;
}